@charset "utf-8";
/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

html,
body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #dddddd;
    /* overflow: hidden; */

}

.logo_image {
    position: absolute;
    width: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
}

.logo_text {
    position: absolute;
    width: 100%;
    font-weight: 500;
    top: 65%;
    text-align: center;
}

.container {
    display: block;
    width:100vw;
    height:100vh;
    opacity: 0;
}