@charset "utf-8";

html,
body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #dddddd;
    /* overflow: hidden; */

}

.logo_image {
    /* display: block; */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    mix-blend-mode: difference;
}

.logo_text {
    text-align: center;
}

.container {
    display: block;
    width:100vw;
    height:100vh;
    opacity: 0;
}